#banner{
    position: static;
}

#banner img {
    /* position: static; */
    width: 100%;
    height: auto;
}


@media  screen and (min-width: 375px) {
    #banner button{
        top:50vh; 
    }
}