/* --------------------mobile version-------------------- */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em 1.5em 2em;
    
    background-image: url('./../src/img/Fondo_Form_Mobile_GreenHeart.png') ;

        background-repeat: no-repeat;
        background-size: 100% auto;

}

.contact-title h2 {
    font-size: 1.6em;
    font-weight: 100;
    color: #fbfbfb;
  
}

.container-form {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.form .container {
    margin: .5em .5em;
}

.form .container label {
    color: #fbfbfb;
}

.form .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.container-input label {
    font-size: 1em;
    display: block;
    position: absolute;
    top: 14px;
    left: 18px;
    margin-bottom: 5px;
    transition: top 0.3s, font-size 0.3s;
}

.container-input label.focused {
    top: 3px;
    font-size: 0.8em;
    color: #d0ddc1;
}

.container-input {
    display: flex;
    position: relative;
    width: 100%;
}

.container-input input,
.container-input textarea {
    width: 100%;
    padding: 1em 1em .5em 1em;
    background: none;
    font-size: 1.1em;
    color: #fbfbfb;

    border: #fbfbfb .5px solid;
    border-radius: 10px;
    outline: none;
}

.container-input textarea {
    height: 100px;
    resize: none;
}

.container-select label {
    margin-right: .5em;
    color: #fbfbfb;
}

.container-select select {
    background: #fbfbfb;
    color: #86664f;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    text-align: center;
    outline: none;
}

.container-select select option {
    background-color: #fbfbfb;
    color: #86664f;
    height: 100px;
}


/* form image */

#image-upload {
    display: none;
    margin: 0;
     max-width: 180px;
    
    text-align: center;
}

#image-input {
    display: none;
}

#image-label {
    display: inline-block;
    position: static;
    top: 0;
    left: 0;
    margin-bottom: 0;
    padding: .5em 1em;
    border: #fbfbfb solid 1px;
    border-radius: 10px;
    background: none;
    color: #fbfbfb;
    cursor: pointer;
    text-align: center;

}

#image-label:hover {
    background: #fbfbfb;
    color: #86664f;
}

.container-imagePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #d0ddc1;
}

#cancel-btn {
    display: none;
    background: #86664f;
    color: #fbfbfb;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 10px;
    right: 40px;
    padding: 0 1px 1px 1px;
    border: 1.3px #fbfbfb solid;
    border-radius: 5px;

    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

#cancel-btn:hover {
    background-color: #93a267;
}

.image-preview {
    max-height: 120px;

}

.container-checkbox input:checked {
    border-color: transparent;
    background-color: #d0ddc1;
}

.error-message {
    color: #fbfbfb;
    font-size: .8em;
    position: absolute;
    bottom: -15px;
    left: 18px;

}


.submit-btn {
    width: 100px;
    margin-top: .5em;
    padding: 10px 20px;
    background-color: #d0ddc1;
    color: #86664f;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.submit-btn:hover {
    background-color: #e1e0df;
}



/* -------------------- version escritorio -------------------- */


@media (min-width: 768px) {
    #contact{
    background-image: url('./../src/img/Fondo_Form_Web_GreenHeart.png') ;
   
        align-items: flex-end;
        padding-right: 60px;
    }

    .contact-title{
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .container-form {
        width: 50%;
        padding-top: 0.8em;
    }

    .form .container {
        margin: .8em .5em;
    }

    .form .input-group {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .form .container-input {
        width: calc(50% - 5px);
        margin: 0.5em 0;
    }

    .container-input.txtarea {
        width: 100%;
    }

    .container-input.txtarea textarea {
        width: 100%;
        height: 100px;
    }



    #cancel-btn {

        width: 18px;
        height: 18px;

        font-size: 8px;

    }
}
