.products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} 

.products h2{
    font-family: "Dosis", sans-serif;
    font-size: large;
    text-align: center;
    margin: 0px auto 15px auto;
}

.carousel {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.carousel-images img {
    max-width: 300px; 
    height: 300px;
    display: block; 
    margin: auto; 
}

.prev, .next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background: #86664f;
    opacity: .6;
    color: #fbfbfb;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.product-description, .buy-button {
    margin-top: 10px;
}
.buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D0DDC1;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* Tablet */
@media  screen and (min-width: 768px) {
    .products h2{
        font-size:x-large;
        margin: 0px auto 20px auto;
    }
}

/* Desktop */
@media  screen and (min-width: 1024px) {
    .products h2{
        font-size:xx-large;
        margin: 0px auto 25px auto;
    }
    .carousel-images img {
        max-width: 500px; 
        max-height: 500px; 
    }
}
