h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    background-color: olive;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.producto {
    background-color: #9eb862;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    max-width: 300px;
    height: 300px;
    border-radius: 5px;
}

.producto h3 {
    margin-top: 10px;
    font-size: 18px;
}

.producto p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

.carousel-container {
    position: relative;
    max-width: 800px; 
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease; 
}

.slide {
    flex: 0 0 auto;
    width: 100%; 
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.caption {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.caption h3 {
    margin-top: 0;
}

.caption p {
    margin-top: 5px;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos de los botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border: none;
    cursor: pointer;
    padding: 10px; 
    font-size: 18px; 
    z-index: 1;
}

.prev {
    left: 0; 
}

.next {
    right: 0; 
}


/* Responsive styles */
@media screen and (max-width: 600px) {
    .carousel {
        flex-direction: column;
    }
    .slide {
        width: auto;
        margin-right: 0;
    }
}


.products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    background-color: olive;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-content: center;
} 
.carousel-images .slide {
    position: relative;
}

.carousel-images .caption {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.carousel-images .caption h3 {
    margin-top: 0;
}

.carousel-images .caption p {
    margin-top: 5px;
}

.carousel-images .caption .buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
